.card {
   position: relative;
   padding: 1em;
   border-radius: .3em;
   box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);
   background-color: hsl(0, 0%, 100%);
}

.card > .head {
   margin-bottom: 1em;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.name {
   font-size: 1.3rem;
}

.full-amount {
   color: hsl(0, 100%, 50%);
}

.view-expenses-btn:not(:disabled) {
   border-color: hsl(240, 80%, 50%);
   color: hsl(240, 80%, 50%);
}

.delete-budget-btn {
   border-color: hsl(0, 30%, 50%);
   color: hsl(0, 30%, 50%);
}

.modal {
   position: absolute;
   background-color: hsl(0, 0%, 100%);
   border-radius: .3em;
   left: 50%;
   z-index: 3;
   transition: transform 200ms ease-in-out;
   transform: translate(-50%, -500px);
   box-shadow: 0 0 5px 1px gray;
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1em;
}

.modal.show {
   transform: translate(-50%, 150px);
}

.form-heading {
   font-size: 1.3rem;
   align-self: center;
}

.input-group {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: .5em;
   align-items: baseline;
}

.input-group > input {
   padding: .5em .3em;
   border-radius: .3em;
   border: 1px solid hsl(0, 0%, 50%);
   outline: none;
}

.input-group > input:focus {
   border-color: hsl(0, 0%, 0%);
}

.modal > .btn-group {
   width: 100%;
   margin-top: 1.5em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn-group > .cancel-btn {
   border-color: hsl(240, 80%, 50%);
   color: hsl(240, 80%, 50%);
}

.btn-group > .add-btn {
   background-color: hsl(240, 80%, 70%);
   color: hsl(0, 0%, 100%);
}

.view-expenses-modal {
   position: absolute;
   background-color: hsl(0, 0%, 100%);
   border-radius: .3em;
   min-width: 100%;
   min-height: 100%;
   top: 0;
   left: 0;
   z-index: 2;
   box-shadow: 0 0 5px 1px gray;
   padding: 1em;
   transition: transform 200ms ease-in-out;
   transform: scale(0);
   transform-origin: left;
}

.view-expenses-modal.show {
   transform: scale(1);
}

.view-expenses-modal > .header {
   position: relative;
}

.header > .name {
   font-size: 1.3rem;
}

.header > .remove-icon {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   font-weight: bold;
   border: 1px solid;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(0, 0%, 100%);
}

.list-item {
   color: hsl(0, 0%, 20%);
   display: flex;
   align-items: center;
   gap: 1em;
}

.list-item > .delete-btn {
   font-size: .7em;
   border-color: hsl(0, 30%, 50%);
   color: hsl(0, 30%, 50%);
}

.no-budget-text {
   font-size: 2.2rem;
   text-align: center;
   margin-top: 5em;
   color: hsl(0, 0%, 70%);
   font-weight: 300;
}