.card {
   position: relative;
   padding: 1em;
   box-shadow: 0 0 5px 1px hsl(0, 0%, 50%);
}

.card > .head {
   margin-bottom: 1em;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.name {
   font-size: 1.3rem;
}

.full-amount {
   color: hsl(0, 100%, 50%);
}

.view-expenses-btn:not(:disabled) {
   border-color: hsl(240, 80%, 50%);
   color: hsl(240, 80%, 50%);
}

.delete-budget-btn {
   border-color: hsl(0, 30%, 50%);
   color: hsl(0, 30%, 50%);
}

.modal {
   position: absolute;
   left: 50%;
   z-index: 3;
   transition: transform 200ms ease-in-out;
   transform: translate(-50%, -500px);
   box-shadow: 0 0 5px 1px gray;
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1em;
}

.modal.show {
   transform: translate(-50%, 150px);
}

.form-heading {
   font-size: 1.3rem;
   align-self: center;
}

.modal > .btn-group {
   width: 100%;
   margin-top: 1.5em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.view-expenses-modal {
   position: absolute;
   min-width: 100%;
   min-height: 100%;
   background-color: hsl(160, 70%, 95%);
   top: 0;
   left: 0;
   z-index: 2;
   box-shadow: 0 0 5px 1px gray;
   padding: 1em;
   transition: transform 200ms ease-in-out;
   transform: scale(0);
   transform-origin: left;
}

.view-expenses-modal.show {
   transform: scale(1);
}

.header {
   position: relative;
}

.header > .heading {
   font-size: 1.3rem;
}

.header > .remove-icon {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
   font-weight: bold;
   border: 1px solid;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(0, 0%, 100%);
}

.list-item {
   color: hsl(0, 0%, 20%);
}