.app {
   margin: 0;
   padding: .5em;
}

.header {
   margin-bottom: 1em;
   border-bottom: 1px solid rgb(154, 154, 192);
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.heading {
   margin-right: auto;
}

.btn-group {
   display: flex;
   align-items: baseline;
   gap: 1em;
}

.add-budget-btn {
  background-color: hsl(240, 80%, 70%);
  color: hsl(0, 0%, 100%);
}

.add-expense-btn:not(:disabled) {
   border-color: hsl(240, 80%, 50%);
   color: hsl(240, 80%, 50%);
}

.card-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 1em;
}