.app {
   margin: 0;
}

.header {
   padding: .5em;
   background-color: hsl(0, 0%, 100%);
   border-bottom: 1px solid hsl(240, 23%, 58%);
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.header > .heading {
   margin-right: auto;
   font-size: 1.5rem;
   color: hsl(203, 50%, 30%);
}

.btn-group {
   display: flex;
   align-items: baseline;
   gap: 1em;
}

.add-budget-btn {
  background-color: hsl(240, 80%, 70%);
  color: hsl(0, 0%, 100%);
}

.add-expense-btn:not(:disabled) {
   border-color: hsl(240, 80%, 50%);
   color: hsl(240, 80%, 50%);
}

.card-container {
   padding: 1em;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 1em;
}