*,*::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   background-color: hsl(203, 50%, 95%);
}

button {
   padding: .3em .5em;
   border-radius: .3em;
   outline: none;
}

button:not(:disabled) {
   cursor: pointer;
}

button:not(:disabled):hover, button:not(:disabled):focus {
   opacity: .8;
}